.button {
  cursor: pointer;
  display: flex;
  align-items: center;
  border: unset;
  border-radius: var(--em-button-border-radius, 624.9375rem);
}

.button.small {
  height: var(--em-button-height--small, 2rem);
  padding: var(--em-button-padding-top-bottom--small, 0.375rem)
    var(--em-button-padding-left-right--small, 0.375rem);
}

.button.small span {
  font-family: var(--em-button-font-family, sans-serif);
  font-size: var(--em-button-font-size--small, 0.75rem);
  font-style: normal;
  font-weight: var(--em-button-font-weight--small, 500);
  line-height: var(--em-button-line-height--small, 0.875rem);
}

.button.medium {
  height: var(--em-button-height--medium, 2.5rem);
  padding: var(--em-button-padding-top-bottom--medium, 0.75rem)
    var(--em-button-padding-left-right--medium, 0.75rem);
}

.button.medium span {
  font-family: var(--em-button-font-family, sans-serif);
  font-size: var(--em-button-font-size--medium, 0.875rem);
  font-style: normal;
  font-weight: var(--em-button-font-weight--medium, 700);
  line-height: var(--em-button-line-height--medium, 1rem);
}

.button.primary {
  color: var(--em-button-color--primary, #fff);
  background: var(--em-button-background--primary, #5c5c66);
}

.button.primary:hover {
  background: var(--em-button-background--primary--hover, #212129);
}

.button.primary:active {
  background: var(--em-button-background--primary--active, #000);
}

.button.primary:disabled {
  color: var(--em-button-color--disabled, #b8b8bd);
  background: var(--em-button-background--disabled, #ededf1);
}

.button.secondary {
  color: var(--em-button-color--secondary, #212129);
  background: var(--em-button-background--secondary, #ededf1);
}

.button.secondary:hover {
  background: var(--em-button-background--secondary--hover, #e4e4ea);
}

.button.secondary:active {
  background: var(--em-button-background--secondary--active, #d2d2d5);
}

.button.secondary:disabled {
  color: var(--em-button-color--disabled, #b8b8bd);
  background: var(--em-button-background--disabled, #ededf1);
}

.button:disabled {
  pointer-events: none;
}

.button svg {
  width: var(--em-button-icon-size, 1rem);
  height: var(--em-button-icon-size, 1rem);
}

.button span {
  padding: 0 var(--em-button-label-padding, 0.5rem);
}
