.fieldHeader {
  font-style: normal;
  display: flex;
  justify-content: space-between;
  color: var(--em-field-header-color, #212129);
  font-family: var(--em-field-font-family, sans-serif);
  font-size: var(--em-field-header-title-font-size, 0.875rem);
  font-weight: var(--em-field-header-title-font-weight, 500);
  line-height: var(--em-field-header-title-line-height, 1rem);
  padding-bottom: var(--em-field-header-padding-bottom, 0.5rem);
}

.fieldHeader span {
  font-style: normal;
  margin-left: auto;
  font-family: var(--em-field-font-family, sans-serif);
  font-size: var(--em-field-header-required-font-size, 0.75rem);
  font-weight: var(--em-field-header-required-font-weight, 400);
  line-height: var(--em-field-header-required-line-height, 0.875rem);
}
