.kpiChartContainer {
  width: 100%;
  height: 100%;
  font-style: normal;
  text-align: center;
  display: flex;
}

.kpiChartCenter {
  margin: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.kpiChartCenter h2 {
  margin: unset;
  overflow: hidden;
  width: min-content;
  text-overflow: ellipsis;
  white-space: nowrap;
  color: var(--em-kpichart-color, #212129);
  font-family: var(--em-kpichart-font-family, sans-serif);
  font-weight: var(--em-kpichart-number-font-weight, 700);
}

.kpiComparisonContainer {
  display: flex;
  align-items: center;
  flex-direction: column;
  text-align: center;
  font-style: normal;
  font-size: var(--em-kpichart-trend-font-size, 1rem);
}
