.selectFieldCategory {
  display: flex;
  font-style: normal;
  padding: var(--em-selectfield-category-padding, 0.25rem);
  border-radius: var(--em-selectfield-category-border-radius, 0.375rem);
  background: var(--em-selectfield-category-background, #e4e4ea);
  color: var(--em-selectfield-category-color, #000);
  font-family: var(--em-selectfield-category-font-family, sans-serif);
  font-size: var(--em-selectfield-category-font-size, 0.75rem);
  font-weight: var(--em-selectfield-category-font-weight, 700);
  line-height: var(--em-selectfield-category-line-height, 0.875rem);
}
