:root {
  --em-core-border-radius--000: 0px;
  --em-core-border-radius--050: 2px;
  --em-core-border-radius--100: 4px;
  --em-core-border-radius--150: 6px;
  --em-core-border-radius--200: 8px;
  --em-core-border-radius--300: 12px;
  --em-core-border-radius--400: 32px;
  --em-core-border-radius--500: 9999px;
  --em-core-border-width--000: 0px;
  --em-core-border-width--025: 1px;
  --em-core-border-width--050: 2px;
  --em-core-border-width--100: 4px;
  --em-core-color-gray--0000: rgb(255 255 255);
  --em-core-color-gray--0050: rgb(247 247 248);
  --em-core-color-gray--0100: rgb(237 237 241);
  --em-core-color-gray--0200: rgb(228 228 234);
  --em-core-color-gray--0300: rgb(210 210 213);
  --em-core-color-gray--0400: rgb(184 184 189);
  --em-core-color-gray--0500: rgb(144 144 152);
  --em-core-color-gray--0600: rgb(114 114 121);
  --em-core-color-gray--0700: rgb(92 92 102);
  --em-core-color-gray--0800: rgb(49 49 61);
  --em-core-color-gray--0900: rgb(33 33 41);
  --em-core-color-gray--1000: rgb(0 0 0);
  --em-core-color-orange--050: rgb(255 238 230);
  --em-core-color-orange--100: rgb(255 221 204);
  --em-core-color-orange--200: rgb(255 204 179);
  --em-core-color-orange--300: rgb(255 187 153);
  --em-core-color-orange--400: rgb(255 170 128);
  --em-core-color-orange--500: rgb(255 153 102);
  --em-core-color-orange--600: rgb(255 136 77);
  --em-core-color-orange--700: rgb(255 119 51);
  --em-core-color-orange--800: rgb(255 102 26);
  --em-core-color-orange--900: rgb(255 84 0);
  --em-core-font-family--base: 'inter';
  --em-core-font-size--md: 16px;
  --em-core-font-size--sm: 14px;
  --em-core-font-size--xl: 20px;
  --em-core-font-size--xs: 12px;
  --em-core-font-size--xxl: 32px;
  --em-core-font-weight--bold: 700px;
  --em-core-font-weight--medium: 500px;
  --em-core-font-weight--regular: 400px;
  --em-core-line-height--l: 19px;
  --em-core-line-height--md: 16px;
  --em-core-line-height--sm: 14px;
  --em-core-line-height--xl: 38px;
  --em-core-shadow-blur: 40px;
  --em-core-shadow-color: rgb(33 33 41 / 25%);
  --em-core-shadow-position-x: 0px;
  --em-core-shadow-position-y: 1px;
  --em-core-shadow-spread: 0px;
  --em-core-size--0000: 0px;
  --em-core-size--0050: 2px;
  --em-core-size--0100: 4px;
  --em-core-size--0150: 6px;
  --em-core-size--0200: 8px;
  --em-core-size--0300: 12px;
  --em-core-size--0400: 16px;
  --em-core-size--0500: 20px;
  --em-core-size--0600: 24px;
  --em-core-size--0700: 28px;
  --em-core-size--0800: 32px;
  --em-core-size--0900: 36px;
  --em-core-size--1000: 40px;
  --em-core-size--1200: 48px;
  --em-core-size--1600: 64px;
  --em-core-size--2000: 80px;
  --em-core-spacing--0000: 0px;
  --em-core-spacing--0050: 2px;
  --em-core-spacing--0100: 4px;
  --em-core-spacing--0150: 6px;
  --em-core-spacing--0200: 8px;
  --em-core-spacing--0300: 12px;
  --em-core-spacing--0400: 16px;
  --em-core-spacing--0500: 20px;
  --em-core-spacing--0600: 24px;
  --em-core-spacing--0700: 28px;
  --em-core-spacing--0800: 32px;
  --em-core-spacing--0900: 36px;
  --em-core-spacing--1000: 40px;
  --em-core-spacing--1200: 48px;
  --em-core-spacing--1600: 64px;
  --em-core-spacing--2000: 80px;
}

:root {
  --em-sem-background: var(--em-core-color-gray--0050);
  --em-sem-background--inverted: var(--em-core-color-gray--0900);
  --em-sem-background--light: var(--em-core-color-gray--0100);
  --em-sem-background--muted: var(--em-core-color-gray--0300);
  --em-sem-background--neutral: var(--em-core-color-gray--0000);
  --em-sem-background--subtle: var(--em-core-color-gray--0200);
  --em-sem-chart-color--1: var(--em-core-color-orange--900);
  --em-sem-chart-color--10: var(--em-core-color-orange--050);
  --em-sem-chart-color--2: var(--em-core-color-orange--800);
  --em-sem-chart-color--3: var(--em-core-color-orange--700);
  --em-sem-chart-color--4: var(--em-core-color-orange--600);
  --em-sem-chart-color--5: var(--em-core-color-orange--500);
  --em-sem-chart-color--6: var(--em-core-color-orange--400);
  --em-sem-chart-color--7: var(--em-core-color-orange--300);
  --em-sem-chart-color--8: var(--em-core-color-orange--200);
  --em-sem-chart-color--9: var(--em-core-color-orange--100);
  --em-sem-status-error-background: rgb(246 226 226);
  --em-sem-status-error-text: rgb(188 16 16);
  --em-sem-status-success-background: rgb(225 240 233);
  --em-sem-status-success-text: rgb(15 149 90);
  --em-sem-text: var(--em-core-color-gray--0900);
  --em-sem-text--inverted: var(--em-core-color-gray--0000);
  --em-sem-text--muted: var(--em-core-color-gray--0700);
  --em-sem-text--neutral: var(--em-core-color-gray--1000);
  --em-sem-text--subtle: var(--em-core-color-gray--0400);
}

:root {
  --em-actionicon-background: var(--em-sem-background--light);
  --em-actionicon-background--active: var(--em-sem-background--muted);
  --em-actionicon-background--hover: var(--em-sem-background--subtle);
  --em-actionicon-border-radius: var(--em-core-border-radius--500);
  --em-actionicon-color: var(--em-sem-text);
  --em-actionicon-color--disabled: var(--em-sem-text--subtle);
  --em-actionicon-height: var(--em-core-size--0800);
  --em-actionicon-icon-size: var(--em-core-size--0400);
  --em-actionicon-padding-left-right: var(--em-core-spacing--0050);
  --em-actionicon-padding-top-bottom: var(--em-core-spacing--0200);
  --em-actionicon-width: var(--em-core-size--0500);
  --em-barchart-border-radius: var(--em-core-border-radius--150);
  --em-barchart-label-gap: var(--em-core-spacing--0200);
  --em-button-background--disabled: var(--em-sem-background--light);
  --em-button-background--primary: var(--em-sem-text--muted);
  --em-button-background--primary--active: var(--em-sem-text--neutral);
  --em-button-background--primary--hover: var(--em-sem-text);
  --em-button-background--secondary: var(--em-sem-background--light);
  --em-button-background--secondary--active: var(--em-sem-background--muted);
  --em-button-background--secondary--hover: var(--em-sem-background--subtle);
  --em-button-border-radius: var(--em-core-border-radius--500);
  --em-button-color--disabled: var(--em-sem-text--subtle);
  --em-button-color--primary: var(--em-sem-text--inverted);
  --em-button-color--secondary: var(--em-sem-text);
  --em-button-font-family: var(--em-core-font-family--base);
  --em-button-font-size--medium: var(--em-core-font-size--sm);
  --em-button-font-size--small: var(--em-core-font-size--xs);
  --em-button-font-weight--medium: var(--em-core-font-weight--bold);
  --em-button-font-weight--small: var(--em-core-font-weight--medium);
  --em-button-height--medium: var(--em-core-size--1000);
  --em-button-height--small: var(--em-core-size--0800);
  --em-button-icon-size: var(--em-core-size--0400);
  --em-button-label-padding: var(--em-core-spacing--0200);
  --em-button-line-height--medium: var(--em-core-line-height--md);
  --em-button-line-height--small: var(--em-core-line-height--sm);
  --em-button-padding-left-right--medium: var(--em-core-spacing--0300);
  --em-button-padding-left-right--small: var(--em-core-spacing--0150);
  --em-button-padding-top-bottom--medium: var(--em-core-spacing--0300);
  --em-button-padding-top-bottom--small: var(--em-core-spacing--0150);
  --em-buttonicon-background--primary: var(--em-sem-text--muted);
  --em-buttonicon-background--primary--active: var(--em-sem-text--neutral);
  --em-buttonicon-background--primary--disabled: var(--em-sem-background--light);
  --em-buttonicon-background--primary--hover: var(--em-sem-text);
  --em-buttonicon-background--secondary: var(--em-sem-background--light);
  --em-buttonicon-background--secondary--active: var(--em-sem-background--muted);
  --em-buttonicon-background--secondary--disabled: var(--em-sem-background--light);
  --em-buttonicon-background--secondary--hover: var(--em-sem-background--subtle);
  --em-buttonicon-border-radius: var(--em-core-border-radius--500);
  --em-buttonicon-color--disabled: var(--em-sem-text--subtle);
  --em-buttonicon-color--primary: var(--em-sem-text--inverted);
  --em-buttonicon-color--secondary: var(--em-sem-text);
  --em-buttonicon-height--medium: var(--em-core-size--1000);
  --em-buttonicon-height--small: var(--em-core-size--0800);
  --em-buttonicon-icon-size: var(--em-core-size--0400);
  --em-buttonicon-padding-left-right--medium: var(--em-core-spacing--0300);
  --em-buttonicon-padding-left-right--small: var(--em-core-spacing--0150);
  --em-buttonicon-padding-top-bottom--medium: var(--em-core-spacing--0300);
  --em-buttonicon-padding-top-bottom--small: var(--em-core-spacing--0150);
  --em-card-background: var(--em-sem-background);
  --em-card-border-radius: var(--em-core-border-radius--400);
  --em-card-feedback-color--error: var(--em-sem-status-error-text);
  --em-card-feedback-font-size: var(--em-core-font-size--sm);
  --em-card-feedback-gap: var(--em-core-spacing--0300);
  --em-card-feedback-icon-size: var(--em-core-size--0400);
  --em-card-feedback-line-height: var(--em-core-line-height--md);
  --em-card-feedback-padding-bottom: var(--em-core-spacing--0800);
  --em-card-feedback-subtitle-color: var(--em-sem-text--muted);
  --em-card-feedback-subtitle-font-weight: var(--em-core-font-weight--regular);
  --em-card-feedback-title-color: var(--em-sem-text);
  --em-card-feedback-title-font-weight: var(--em-core-font-weight--medium);
  --em-card-font-family: var(--em-core-font-family--base);
  --em-card-gap: var(--em-core-spacing--0800);
  --em-card-header-gap: var(--em-core-spacing--0400);
  --em-card-loader-background: var(--em-sem-background--neutral);
  --em-card-loader-border-radius: var(--em-core-border-radius--500);
  --em-card-loader-color: var(--em-sem-text);
  --em-card-loader-padding: var(--em-core-spacing--0100);
  --em-card-loader-size: var(--em-core-size--0600);
  --em-card-padding: var(--em-core-spacing--0800);
  --em-card-subtitle-color: var(--em-sem-text--muted);
  --em-card-subtitle-font-size: var(--em-core-font-size--sm);
  --em-card-subtitle-font-weight: var(--em-core-font-weight--regular);
  --em-card-subtitle-line-height: var(--em-core-line-height--l);
  --em-card-title-color: var(--em-sem-text);
  --em-card-title-font-size: var(--em-core-font-size--md);
  --em-card-title-font-weight: var(--em-core-font-weight--bold);
  --em-card-title-line-height: var(--em-core-line-height--l);
  --em-chart-category-color: var(--em-sem-text--muted);
  --em-chart-category-font-family: var(--em-core-font-family--base);
  --em-chart-category-font-size: var(--em-core-font-size--xs);
  --em-chart-category-font-weight: var(--em-core-font-weight--medium);
  --em-chart-category-gap: var(--em-core-spacing--0100);
  --em-chart-category-indicator-border-radius: var(--em-core-border-radius--500);
  --em-chart-category-indicator-color: var(--em-sem-chart-color--1);
  --em-chart-category-line-height: var(--em-core-line-height--sm);
  --em-chart-category-list-gap: var(--em-core-spacing--0400);
  --em-chart-category-size: var(--em-core-size--0300);
  --em-chart-grid-font-family: var(--em-core-font-family--base);
  --em-chart-grid-label-color: var(--em-sem-text);
  --em-chart-grid-label-color--light: var(--em-sem-background--light);
  --em-chart-grid-label-color--muted: var(--em-sem-text--muted);
  --em-chart-grid-label-color--subtle: var(--em-sem-text--subtle);
  --em-chart-grid-label-font-size: var(--em-core-font-size--xs);
  --em-chart-grid-label-font-weight: var(--em-core-font-weight--regular);
  --em-chart-grid-line-color: var(--em-sem-text);
  --em-chart-grid-line-color--light: var(--em-sem-background--light);
  --em-chart-grid-line-color--subtle: var(--em-sem-text--subtle);
  --em-chart-grid-line-width--medium: 2px;
  --em-chart-grid-line-width--thick: 4px;
  --em-chart-grid-line-width--thin: 1px;
  --em-chart-grid-tick-length: var(--em-core-size--0100);
  --em-chart-grid-tick-width: 1px;
  --em-chart-grid-title-font-size: var(--em-core-font-size--sm);
  --em-chart-grid-title-font-weight: var(--em-core-font-weight--bold);
  --em-chart-label-background: var(--em-sem-background--neutral);
  --em-chart-label-border-radius: var(--em-core-border-radius--500);
  --em-chart-label-color: var(--em-sem-text);
  --em-chart-label-font-family: var(--em-core-font-family--base);
  --em-chart-label-font-size: var(--em-core-font-size--xs);
  --em-chart-label-font-weight: var(--em-core-font-weight--medium);
  --em-chart-label-line-height: var(--em-core-line-height--sm);
  --em-chart-label-padding-left-right: var(--em-core-spacing--0100);
  --em-chart-label-padding-top-bottom: var(--em-core-spacing--0050);
  --em-chart-tooltip-background: var(--em-sem-background--inverted);
  --em-chart-tooltip-border-radius: var(--em-core-border-radius--300);
  --em-chart-tooltip-family: var(--em-core-font-family--base);
  --em-chart-tooltip-gap: var(--em-core-spacing--0200);
  --em-chart-tooltip-padding: var(--em-core-spacing--0400);
  --em-chart-tooltip-title-color: var(--em-sem-text--inverted);
  --em-chart-tooltip-title-font-size: var(--em-core-font-size--sm);
  --em-chart-tooltip-title-font-weight: var(--em-core-font-weight--bold);
  --em-chart-tooltip-title-line-height: var(--em-core-line-height--md);
  --em-field-feedback-color: var(--em-sem-text--muted);
  --em-field-feedback-color--error: var(--em-sem-status-error-text);
  --em-field-feedback-error-font-size: var(--em-core-font-size--xs);
  --em-field-feedback-error-font-weight: var(--em-core-font-weight--medium);
  --em-field-feedback-error-line-height: var(--em-core-line-height--md);
  --em-field-feedback-font-size: var(--em-core-font-size--xs);
  --em-field-feedback-font-weight: var(--em-core-font-weight--regular);
  --em-field-feedback-line-height: var(--em-core-line-height--sm);
  --em-field-feedback-padding-bottom: var(--em-core-spacing--0200);
  --em-field-feedback-padding-top: var(--em-core-spacing--0200);
  --em-field-font-family: var(--em-core-font-family--base);
  --em-field-header-color: var(--em-sem-text);
  --em-field-header-padding-bottom: var(--em-core-spacing--0200);
  --em-field-header-required-font-size: var(--em-core-font-size--xs);
  --em-field-header-required-font-weight: var(--em-core-font-weight--regular);
  --em-field-header-required-line-height: var(--em-core-line-height--sm);
  --em-field-header-title-font-size: var(--em-core-font-size--sm);
  --em-field-header-title-font-weight: var(--em-core-font-weight--medium);
  --em-field-header-title-line-height: var(--em-core-line-height--md);
  --em-ghostbutton-background--active: var(--em-sem-background--light);
  --em-ghostbutton-background--hover: var(--em-sem-background);
  --em-ghostbutton-border-radius: var(--em-core-border-radius--100);
  --em-ghostbutton-color: var(--em-sem-text);
  --em-ghostbutton-color--disabled: var(--em-sem-text--subtle);
  --em-ghostbutton-font-family: var(--em-core-font-family--base);
  --em-ghostbutton-font-size: var(--em-core-font-size--xs);
  --em-ghostbutton-font-weight: var(--em-core-font-weight--regular);
  --em-ghostbutton-height: var(--em-core-size--0500);
  --em-ghostbutton-icon-size: var(--em-core-size--0400);
  --em-ghostbutton-label-padding-left: var(--em-core-spacing--0100);
  --em-ghostbutton-label-padding-right: var(--em-core-spacing--0100);
  --em-ghostbutton-line-height: var(--em-core-line-height--sm);
  --em-ghostbutton-padding: var(--em-core-spacing--0050);
  --em-kpichart-color: var(--em-sem-text);
  --em-kpichart-font-family: var(--em-core-font-family--base);
  --em-kpichart-gap: var(--em-core-spacing--0600);
  --em-kpichart-label-font-size: var(--em-core-font-size--sm);
  --em-kpichart-label-font-weight: var(--em-core-font-weight--regular);
  --em-kpichart-label-gap: var(--em-core-spacing--0200);
  --em-kpichart-label-line-height: var(--em-core-line-height--sm);
  --em-kpichart-number-font-size: var(--em-core-font-size--xxl);
  --em-kpichart-number-font-weight: var(--em-core-font-weight--bold);
  --em-kpichart-number-line-height: var(--em-core-line-height--xl);
  --em-kpichart-trend-background--negative: var(--em-sem-status-error-background);
  --em-kpichart-trend-background--positive: var(--em-sem-status-success-background);
  --em-kpichart-trend-border-radius: var(--em-core-border-radius--150);
  --em-kpichart-trend-color--negative: var(--em-sem-status-error-text);
  --em-kpichart-trend-color--positive: var(--em-sem-status-success-text);
  --em-kpichart-trend-font-size: var(--em-core-font-size--md);
  --em-kpichart-trend-font-weight: var(--em-core-font-weight--medium);
  --em-kpichart-trend-height: var(--em-core-size--0600);
  --em-kpichart-trend-icon-size: var(--em-core-size--0400);
  --em-kpichart-trend-line-height: var(--em-core-line-height--md);
  --em-kpichart-trend-padding: var(--em-core-spacing--0100);
  --em-linechart-line-dash: var(--em-core-size--0100);
  --em-linechart-line-gap: var(--em-core-size--0100);
  --em-linechart-line-width: 2px;
  --em-linechart-point-size: var(--em-core-size--0200);
  --em-linechart-point-size--hover: var(--em-core-size--0300);
  --em-overlay-background: rgb(33 33 41 / 80%);
  --em-piechart-donut-color: var(--em-sem-text);
  --em-piechart-donut-label-font-size: var(--em-core-font-size--md);
  --em-piechart-donut-label-font-weight: var(--em-core-font-weight--medium);
  --em-piechart-donut-label-line-height: var(--em-core-line-height--md);
  --em-piechart-donut-number-font-size: var(--em-core-font-size--xxl);
  --em-piechart-donut-number-font-weight: var(--em-core-font-weight--bold);
  --em-piechart-donut-number-line-height: var(--em-core-line-height--xl);
  --em-piechart-font-family: var(--em-core-font-family--base);
  --em-selectfield-category-background: var(--em-sem-background--subtle);
  --em-selectfield-category-border-radius: var(--em-core-border-radius--150);
  --em-selectfield-category-color: var(--em-sem-text--neutral);
  --em-selectfield-category-font-family: var(--em-core-font-family--base);
  --em-selectfield-category-font-size: var(--em-core-font-size--xs);
  --em-selectfield-category-font-weight: var(--em-core-font-weight--bold);
  --em-selectfield-category-line-height: var(--em-core-line-height--sm);
  --em-selectfield-category-padding: var(--em-core-spacing--0100);
  --em-selectfield-content-background: var(--em-sem-background--neutral);
  --em-selectfield-content-border-radius: var(--em-core-border-radius--300);
  --em-selectfield-content-gap: var(--em-core-spacing--0200);
  --em-selectfield-content-max-height: 320px;
  --em-selectfield-content-max-width: 400px;
  --em-selectfield-content-opacity--loading: 50px;
  --em-selectfield-content-padding: var(--em-core-spacing--0200);
  --em-selectfield-content-shadow-blur: var(--em-core-shadow-blur);
  --em-selectfield-content-shadow-color: var(--em-core-shadow-color);
  --em-selectfield-content-shadow-position-x: var(--em-core-shadow-position-x);
  --em-selectfield-content-shadow-position-y: var(--em-core-shadow-position-y);
  --em-selectfield-content-shadow-spread: var(--em-core-shadow-spread);
  --em-selectfield-item-background: var(--em-sem-background--neutral);
  --em-selectfield-item-background--active: var(--em-sem-background--light);
  --em-selectfield-item-background--hover: var(--em-sem-background);
  --em-selectfield-item-background--selected: var(--em-sem-background--inverted);
  --em-selectfield-item-border-radius: var(--em-core-border-radius--200);
  --em-selectfield-item-font-family: var(--em-core-font-family--base);
  --em-selectfield-item-height: var(--em-core-size--0800);
  --em-selectfield-item-icon-color: var(--em-sem-text);
  --em-selectfield-item-icon-color--disabled: var(--em-sem-text--subtle);
  --em-selectfield-item-icon-color--selected: var(--em-sem-text--inverted);
  --em-selectfield-item-icon-size: var(--em-core-size--0400);
  --em-selectfield-item-label-left-color: var(--em-sem-text);
  --em-selectfield-item-label-left-color--disabled: var(--em-sem-text--subtle);
  --em-selectfield-item-label-left-color--selected: var(--em-sem-text--inverted);
  --em-selectfield-item-label-left-font-size: var(--em-core-font-size--xs);
  --em-selectfield-item-label-left-font-weight: var(--em-core-font-weight--medium);
  --em-selectfield-item-label-left-line-height: var(--em-core-line-height--sm);
  --em-selectfield-item-label-padding-left-right: var(--em-core-spacing--0200);
  --em-selectfield-item-label-right-color: var(--em-sem-text--muted);
  --em-selectfield-item-label-right-color--disabled: var(--em-sem-text--subtle);
  --em-selectfield-item-label-right-color--selected: var(--em-sem-text--inverted);
  --em-selectfield-item-label-right-font-size: var(--em-core-font-size--xs);
  --em-selectfield-item-label-right-font-weight: var(--em-core-font-weight--regular);
  --em-selectfield-item-label-right-line-height: var(--em-core-line-height--sm);
  --em-selectfield-item-padding: var(--em-core-spacing--0200);
  --em-selectfield-trigger-background: var(--em-sem-background--neutral);
  --em-selectfield-trigger-background--active: var(--em-sem-background--light);
  --em-selectfield-trigger-background--filled: var(--em-sem-background--inverted);
  --em-selectfield-trigger-background--hover: var(--em-sem-background);
  --em-selectfield-trigger-border-color: var(--em-sem-background--muted);
  --em-selectfield-trigger-border-color--error: var(--em-sem-status-error-text);
  --em-selectfield-trigger-border-radius: var(--em-core-border-radius--200);
  --em-selectfield-trigger-border-width: var(--em-core-border-width--025);
  --em-selectfield-trigger-border-width--error: var(--em-core-border-width--050);
  --em-selectfield-trigger-color: var(--em-sem-text);
  --em-selectfield-trigger-color--disabled: var(--em-sem-text--subtle);
  --em-selectfield-trigger-color--filled: var(--em-sem-text--inverted);
  --em-selectfield-trigger-font-family: var(--em-core-font-family--base);
  --em-selectfield-trigger-font-size: var(--em-core-font-size--xs);
  --em-selectfield-trigger-font-weight: var(--em-core-font-weight--medium);
  --em-selectfield-trigger-height: var(--em-core-size--1000);
  --em-selectfield-trigger-icon-size: var(--em-core-size--0400);
  --em-selectfield-trigger-label-padding-left-right: var(--em-core-spacing--0200);
  --em-selectfield-trigger-line-height: var(--em-core-line-height--sm);
  --em-selectfield-trigger-min-width: 64px;
  --em-selectfield-trigger-padding: var(--em-core-spacing--0300);
  --em-skeleton-border-radius: var(--em-core-border-radius--300);
  --em-switch-background--disabled: var(--em-sem-background--subtle);
  --em-switch-background--off: var(--em-sem-background--inverted);
  --em-switch-background--on: var(--em-sem-background--subtle);
  --em-switch-font-family: var(--em-core-font-family--base);
  --em-switch-height: var(--em-core-size--0400);
  --em-switch-label-color: var(--em-sem-text);
  --em-switch-label-color--disabled: var(--em-sem-text--subtle);
  --em-switch-label-color-font-size: var(--em-core-font-size--md);
  --em-switch-label-color-font-weight: var(--em-core-font-weight--medium);
  --em-switch-label-color-line-height: var(--em-core-line-height--md);
  --em-switch-label-gap: var(--em-core-spacing--0200);
  --em-switch-shadow-blur: var(--em-core-shadow-blur);
  --em-switch-shadow-color: var(--em-core-shadow-color);
  --em-switch-shadow-position-x: var(--em-core-shadow-position-x);
  --em-switch-shadow-position-y: var(--em-core-shadow-position-y);
  --em-switch-shadow-spread: var(--em-core-shadow-spread);
  --em-switch-size-border-radius: var(--em-core-border-radius--500);
  --em-switch-thumb-background: var(--em-sem-background--neutral);
  --em-switch-thumb-background--disabled: var(--em-sem-background--light);
  --em-switch-thumb-background--off: var(--em-sem-text--muted);
  --em-switch-thumb-padding: var(--em-core-spacing--0050);
  --em-switch-thumb-size: var(--em-core-size--0300);
  --em-switch-width: var(--em-core-size--0800);
  --em-tablechart-border-color: var(--em-sem-background--light);
  --em-tablechart-border-radius: var(--em-core-border-radius--300);
  --em-tablechart-border-width: 1px;
  --em-tablechart-cell-background: var(--em-sem-background--neutral);
  --em-tablechart-cell-background--hover: var(--em-sem-background);
  --em-tablechart-cell-height: var(--em-core-size--1000);
  --em-tablechart-cell-min-width: var(--em-core-size--1200);
  --em-tablechart-cell-padding: var(--em-core-spacing--0200);
  --em-tablechart-color: var(--em-sem-text);
  --em-tablechart-color--muted: var(--em-sem-text--muted);
  --em-tablechart-font-family: var(--em-core-font-family--base);
  --em-tablechart-font-size: var(--em-core-font-size--xs);
  --em-tablechart-font-weight: var(--em-core-font-weight--regular);
  --em-tablechart-font-weight--bold: var(--em-core-font-weight--bold);
  --em-tablechart-font-weight--medium: var(--em-core-font-weight--medium);
  --em-tablechart-header-background: var(--em-sem-background--neutral);
  --em-tablechart-header-background--hover: var(--em-sem-background);
  --em-tablechart-heatmap-color: var(--em-sem-chart-color--1);
  --em-tablechart-icon-size: var(--em-core-size--0400);
  --em-tablechart-line-height: var(--em-core-line-height--sm);
  --em-tablechart-padding-left-right: var(--em-core-spacing--0100);
  --em-tablechart-pagination-button-gap: var(--em-core-spacing--0200);
  --em-tablechart-pagination-height: var(--em-core-size--1200);
  --em-tablechart-pagination-label-padding-left-right: var(--em-core-spacing--0400);
  --em-textfield-background: var(--em-sem-background);
  --em-textfield-background--active: var(--em-sem-background--subtle);
  --em-textfield-background--disabled: var(--em-sem-background--neutral);
  --em-textfield-background--filled: var(--em-sem-background--light);
  --em-textfield-border-color: var(--em-sem-text--subtle);
  --em-textfield-border-color--error: var(--em-sem-status-error-text);
  --em-textfield-border-radius: var(--em-core-border-radius--200);
  --em-textfield-border-width: var(--em-core-border-width--025);
  --em-textfield-border-width--error: var(--em-core-border-width--050);
  --em-textfield-color: var(--em-sem-text--muted);
  --em-textfield-color--disabled: var(--em-sem-text--subtle);
  --em-textfield-color--filled: var(--em-sem-text);
  --em-textfield-feedback-color: var(--em-sem-text--muted);
  --em-textfield-feedback-color--error: var(--em-sem-status-error-text);
  --em-textfield-feedback-font-family: var(--em-core-font-family--base);
  --em-textfield-feedback-font-size: var(--em-core-font-size--xs);
  --em-textfield-feedback-font-weight: var(--em-core-font-weight--regular);
  --em-textfield-feedback-font-weight--error: var(--em-core-font-weight--medium);
  --em-textfield-feedback-line-height: var(--em-core-line-height--md);
  --em-textfield-font-family: var(--em-core-font-family--base);
  --em-textfield-font-size: var(--em-core-font-size--xs);
  --em-textfield-font-weight: var(--em-core-font-weight--regular);
  --em-textfield-font-weight--filled: var(--em-core-font-weight--medium);
  --em-textfield-height: var(--em-core-size--1000);
  --em-textfield-icon-size: var(--em-core-size--0400);
  --em-textfield-label-padding: var(--em-core-spacing--0200);
  --em-textfield-line-height: var(--em-core-line-height--md);
  --em-textfield-max-width: 400px;
  --em-textfield-min-width: 160px;
  --em-textfield-padding: var(--em-core-spacing--0200);
}
