.tableHeader .tableHeaderCell {
  padding: unset;
}

.tableHeaderCell button {
  width: 100%;
  display: flex;
  border: unset;
  cursor: pointer;
  font-style: normal;
  white-space: nowrap;
  background-color: unset;
  justify-content: space-between;
  align-items: center;
  padding: var(--em-tablechart-cell-padding, 0.5rem) var(--em-tablechart-cell-padding, 0.5rem)
    var(--em-tablechart-cell-padding, 0.5rem)
    calc(
      var(--em-tablechart-cell-padding, 0.5rem) + var(--em-tablechart-padding-left-right, 0.25rem)
    );
  color: var(--em-tablechart-color, #212129);
  font-family: var(--em-tablechart-font-family, sans-serif);
  font-size: var(--em-tablechart-font-size, 0.75rem);
  font-weight: var(--em-tablechart-font-weight--medium, 500);
  line-height: var(--em-tablechart-line-height, 0.875rem);
  gap: var(--em-tablechart-cell-padding, 0.5rem);
}

.tableHeaderCell button svg {
  width: var(--em-tablechart-icon-size, 1rem);
  height: var(--em-tablechart-icon-size, 1rem);
}
