.switch {
  display: inline-flex;
  align-items: flex-start;
  gap: var(--em-switch-label-gap, 0.5rem);
  cursor: pointer;
}

.switch.disabled {
  pointer-events: none;
}

.switch input {
  position: absolute;
  opacity: 0;
  width: 0;
  height: 0;
}

.switchTrack {
  position: relative;
  display: flex;
  box-sizing: border-box;
  width: var(--em-switch-width, 2rem);
  height: var(--em-switch-height, 1rem);
  border-radius: var(--em-switch-size-border-radius, 624.9375rem);
  background: var(--em-switch-background--on, #e4e4ea);
  padding: var(--em-switch-thumb-padding, 0.125rem);
}

.switchThumb {
  transition: all 0.2s ease-in-out;
  position: absolute;
  flex-shrink: 0;
  border-radius: 50%;
  left: var(--em-switch-thumb-padding, 0.125rem);
  background: var(--em-switch-thumb-background--off, #5c5c66);
  width: var(--em-switch-thumb-size, 0.75rem);
  height: var(--em-switch-thumb-size, 0.75rem);
}

.switch.checked .switchTrack {
  background: var(--em-switch-background--off, #212129);
}

.switch.checked .switchThumb {
  background: var(--em-switch-thumb-background, #fff);
  left: calc(
    100% - var(--em-switch-thumb-size, 0.75rem) - var(--em-switch-thumb-padding, 0.125rem)
  );
}

.switch.disabled .switchTrack {
  background: var(--em-switch-background--disabled, #e4e4ea);
}

.switch.disabled .switchThumb {
  background: var(--em-switch-thumb-background--disabled, #ededf1);
}

.switchLabel {
  font-style: normal;
  color: var(--em-switch-label-color, #212129);
  font-family: var(--em-switch-font-family, sans-serif);
  font-size: var(--em-switch-label-color-font-size, 1rem);
  font-weight: var(--em-switch-label-color-font-weight, 500);
  line-height: var(--em-switch-label-color-line-height, 16px);
}

.switch.disabled .switchLabel {
  color: var(--em-switch-label-color--disabled, #b8b8bd);
}
